* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: large;
    width: 100%;
    min-height: 100vh;
    background-color: #EDEDF2;
}

.body-dark {
    background-color: rgb(18, 18, 20);
}

.button {
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;

    background-color: #7cc2ff;
    color: rgb(37, 36, 39);
}

.button:hover {
    background-color: #7cc2ff;
    color: rgb(37, 36, 39);
}

.button-dark {
    background-color: rgb(244, 244, 244);
    color: rgb(37, 36, 39);
}

.button-dark:hover {
    background-color: rgb(244, 244, 244);
    color: rgb(37, 36, 39);
}